@import url('shared.css');
@import url('select.css');

/* Main task */

div {
  display: flex;
  flex-direction: column;
  transition: opacity, visibility 0.25s ease;
  -moz-transition: opacity, visibility 0.25s ease;
  -o-transition: opacity, visibility 0.25s ease;
  -webkit-transition: opacity, visibility 0.25s ease;

  &.focused summary {
    border: 1px solid var(--color-highlight);
    background-color: var(--color-background);
    filter: none !important;
  }

  &.focused details section {
    font-size: 100% !important;
  }

  &.done menu item {
    & button,
    & input {
      color: var(--color-text-done);
    }
  }

  &.done details[open] summary {
    border-bottom: 1px solid var(--color-text-done);
  }

  &.done details summary {
    &::before {
      color: var(--color-text-done);
    }

    & header {
      color: var(--color-text-done);
    }

    & button {
      color: var(--color-text-done);
    }
  }

  &.pause menu item {
    & button,
    & input {
      color: var(--color-accent);
    }
  }

  &.pause details[open] summary {
    border-bottom: 1px solid var(--color-accent);
  }

  &.pause details summary {
    &::before {
      color: var(--color-accent);
    }

    & header {
      color: var(--color-accent);
    }

    & button {
      color: var(--color-accent);
    }
  }
}

menu {
  background-color: var(--color-background-select);
  display: flex;
  flex-direction: row;
  border-radius: 0.2em;
  box-shadow: inset 0 0 3px var(--color-shadow);
  height: 100%;
  padding: 0 0.2em 0;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  -webkit-transition: opacity 350ms ease;
}

menu item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & button[name='task-delete'],
  & button[name='task-edit'] {
    font-size: 1em;
  }

  & button {
    visibility: hidden;
  }
}

/* Subtasks */

details {
  padding-left: 2.2em;

  &[open] summary {
    border-bottom: 1px solid var(--color-border-details);
  }
}

details summary {
  list-style-position: outside;
  flex-direction: row;
  height: 2em;
  font-size: 1.2em;
  justify-content: flex-start;
  align-items: center;
  display: flex;

  &:hover {
    cursor: pointer;
  }

  &::before {
    /* Custom marker dimensions */
    content: '▶';
    font-size: 0.8em;
    margin-right: 0.5em;
    color: var(--color-marker);

    /* Anchor the shape to the summary */
    position-anchor: --summary;
    position-area: self-start;
    transition: transform 350ms ease;
    -moz-transition: transform 350ms ease;
    -o-transition: transform 350ms ease;
    -webkit-transition: transform 350ms ease;
  }

  &::marker {
    color: var(--color-marker);
    font-size: 1em;
    display: flex;
  }

  & button[name='task-menu'] {
    font-size: 1.2em;

    &:hover + menu,
    &:hover + menu button {
      visibility: visible;
      opacity: 1;
      width: auto;
    }

    &:has(+ menu:hover) {
      color: var(--color-hover-text-button);
      background-color: var(--color-hover-background-button);
    }
  }

  & menu:hover,
  & menu:hover button {
    visibility: visible;
    opacity: 1;
    width: auto;
  }
}

details[open] summary::before {
  transform: rotate(90deg);
}

details summary header {
  align-items: center;
  color: var(--color-subtitle);
  display: flex;
}

details section {
  font-size: 92%;
}

/* Leaf subtasks */

.leaf details summary {
  list-style: none;
  box-shadow: none;
  border: none;

  &::before {
    display: none;
  }

  &:hover {
    cursor: auto;
  }

  & header {
    color: var(--color-disabled-subtitle);
  }
}

/* Interactive elements */

.hidden {
  display: inline;
  visibility: hidden;
}

input {
  appearance: base-select;
  background-color: inherit;
  color: var(--color-text);
  font-family: inherit;
  font-size: inherit;

  &:focus {
    outline: none !important;
    border: 2px inset var(--color-focus-input);
  }
}

button {
  border-radius: 0.2em;
  color: var(--color-text-button);
  display: flex;
  font-size: 1.5em;
  height: 100%;
  place-items: center;
  place-content: center;
  padding: 0.3em;
  margin-left: 0.2em;

  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;

  transition-delay: 250ms;
  transition-property: visibility, opacity, width;
  &:hover {
    color: var(--color-hover-text-button);
    background-color: var(--color-hover-background-button);
  }
}

::slotted(select) {
  background: transparent !important;
  border-radius: 0;
  padding: 0 !important;
  margin: 0 0 0 0.2em !important;
}

/* 
[data-note]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-note]:after {
  content: attr(data-note);
  position: absolute;
  bottom: -1.6em;
  left: 100%;
  padding: 4px 4px 4px 8px;
  color: #222;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #f8f8f8),
    color-stop(1, #cccccc)
  );
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);
  background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-note] {
  position: relative;
} */

/* Flash of Unstyled Content fix */
summary button,
div {
  visibility: visible !important;
  opacity: 1 !important;
}
