/*########################*|
|*      Task Focus
|*########################*/

/* reset */

dialog {
  border: none;
  appearance: base-select;
  background: transparent;
  margin: 0;

  menuitem button {
    background-color: transparent !important;
  }
}

dialog {
  ul {
    padding: 0;

    li {
      h3 {
        margin: 0;
      }
    }
  }

  button,
  button:hover,
  menuitem button,
  menuitem button:hover {
    border: none !important;
    user-select: none;
  }
}

/* structure */
dialog {
  position: fixed;
  top: 0;
  height: 100%;
}

task-view dialog {
  h1,
  p {
    margin-left: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    margin-top: 5em;
    height: 50%;
    overflow: hidden;

    li {
      display: flex;
      text-align: left;
      margin-left: 0.5em;
      font-size: 1em;
      &:before {
        padding-right: 0.5em;
        font-weight: bold;
        content: '✓';
      }
    }
  }

  menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 3rem 2rem;

    menuitem {
      margin-right: 1rem;
    }

    menuitem button {
      display: flex;
      place-items: center;
      width: 5rem;
      height: 5rem;
      font-size: 4rem;
    }
  }
}

/* info tips */

header dialog {
  width: 18%;

  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    li {
      display: none;
      flex-direction: column;
    }

    li.visible {
      display: flex;
    }
  }
}

/* effects */

dialog {
  opacity: 0;
  transition: opacity 0.25s ease-out, transform 0.25s ease-out,
    overlay 0.25s ease-out allow-discrete, display 0.25s ease-out allow-discrete;
}

/* Open state of the dialog */
dialog:open {
  opacity: 1;
}

/* Before open state  */
/* Needs to be after dialog:open take effect, (same specificity) */
@starting-style {
  dialog:open {
    opacity: 0;
  }
}

/* settings interactions */

header dialog {
  transform: translateX(-200px);
  opacity: 1;
  transition: transform 0.25s ease-in-out, overlay 0.25s ease-out allow-discrete,
    display 0.25s ease-out allow-discrete;
}

header dialog:open {
  transform: translateX(0);
}

@starting-style {
  dialog:open {
    opacity: 1;
    transform: translateX(-200px);
  }
}

/* theme */

task-view > dialog {
  ul {
    li {
      color: var(--fg);
      text-shadow: 0 0 1rem var(--color-black-50);
    }
  }

  &::backdrop {
    background-color: var(--color-black-50);
  }
}

/* settings */

header dialog#task-settings {
  background: var(--bg);
  box-shadow: 0 1rem 2rem var(--color-black-50);
}
