/*########################*|
|*      Task Focus
|*########################*/

/* reset */

dialog {
  border: none;
  appearance: base-select;
  background: transparent;
  margin: 0;

  menuitem button {
    background-color: transparent !important;
  }
}

/* structure */

dialog {
  position: fixed;
  top: 0;
  height: 100%;

  header {
    margin-left: 2rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
    padding: 0 55% 0 0;
    margin-top: 5em;
    height: 50%;
    overflow: hidden;

    li {
      display: flex;
      text-align: left;
      margin-left: 0.5em;
      font-size: 1.5em;
      &:before {
        padding-right: 0.5em;
        font-weight: bold;
        content: '✓';
      }
    }
  }

  menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 3rem 2rem;

    menuitem {
      margin-right: 1rem;
    }

    menuitem button {
      display: flex;
      place-items: center;
      width: 5rem;
      height: 5rem;
      font-size: 4rem;
    }
  }
}

/* info tips */

header dialog {
  ul {
    display: flex;
    flex-direction: row;

    li {
      display: none;
    }

    li.visible {
      display: flex;
    }
  }
}

/* focus */

main.focus {
  task-node {
    padding-left: 2rem;
  }

  task-node:not([data-focus])::part(summary) {
    filter: blur(3px);
  }

  task-node:not([data-focus])::part(summary):before {
    display: none;
  }

  task-node::part(icon-button) {
    display: none;
  }

  task-base {
    margin-top: 8%;
  }

  & > menu {
    visibility: hidden;
  }
}

/* effects */

dialog {
  opacity: 0;
  transition: opacity 0.25s ease-out, transform 0.25s ease-out,
    overlay 0.25s ease-out allow-discrete, display 0.25s ease-out allow-discrete;
}

/* Open state of the dialog */
dialog:open {
  opacity: 1;
}

/* Before open state  */
/* Needs to be after dialog:open take effect, (same specificity) */
@starting-style {
  dialog:open {
    opacity: 0;
  }
}

/* settings */

header dialog {
  transform: translateX(-200px);
  opacity: 1;
  transition: transform 0.25s ease-in-out, overlay 0.25s ease-out allow-discrete,
    display 0.25s ease-out allow-discrete;
}

header dialog:open {
  transform: translateX(0);
}

@starting-style {
  dialog:open {
    opacity: 1;
    transform: translateX(-200px);
  }
}

/* theme */

.theme-forest {
  task-view > dialog {
    ul li {
      color: var(--forest-fg-accent);
    }
  }

  /* settings */

  header dialog#task-settings {
    background: var(--forest-bg);
    box-shadow: 0 1rem 2rem var(--color-black-50);
  }
}

.theme-gruvbox {
  task-view > dialog {
    ul li {
      color: var(--gruvbox-fg-accent);
    }
  }

  /* settings */

  header dialog#task-settings {
    background: var(--gruvbox-bg);
    box-shadow: 0 1rem 2rem var(--color-black-50);
  }
}
