/* task style overrides */

/* reset */

div {
  & menu {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    & menuitem {
      display: inline-flex;
    }
  }
}
/* structure */

div {
  margin-left: 3rem;
  & > span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  & details {
    & summary {
      & span {
        padding-left: 0.25rem;
      }
    }
  }
}

/* interaction */

:disabled,
slot[disabled] {
  display: none;
}
