/*########################*|
|*      Task Edit
|*########################*/

/* reset */

div {
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }

  & > menu {
    display: inline-flex;
    flex-direction: row;
    padding: 0;

    menuitem {
      display: inline-flex;
    }
  }
}

::slotted(select) {
  padding: 0 0.2rem !important;
}

/* structure */

div {
  margin-left: 1.5rem;

  & span {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    & button {
      margin-right: 0.25rem;
    }
  }

  & input {
    font-size: inherit;
    font-family: inherit;
    margin-left: -0.1rem;
  }

  & details {
    & summary {
      & span {
        padding-left: 0.25rem;
      }
      & slot {
        display: inline-flex;
        margin-left: 0.2rem;
      }
    }
  }

  & > menu {
    margin: 0.3rem 0;
  }
}

/* interaction */

:disabled,
slot[disabled] {
  display: none;
}
