/* task style overrides */

/* reset */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* structure */

div {
  flex-direction: column;
}

ul {
  margin-left: -0.7rem;
}

/* interaction */

:disabled,
slot[disabled] {
  display: none;
}
