@import url('select.css');
@import url('theme.css');

/* reset */

body {
  margin: 0;
  min-height: 100vh;
}

main {
  box-sizing: border-box;

  & menu {
    margin: 0;
    padding: 0;
  }
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

task-base > task-node {
  & details {
    padding: 0;
  }
}

/* structure and layout */

html {
  font-size: 0.22in;
  width: 100%;
}

body {
  width: 100%;
}

main {
  padding: 1%;
  width: 100%;

  button {
    font-size: inherit;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
  }

  & > menu {
    display: flex;
    flex-direction: row;

    & menuitem {
      display: flex;
      place-items: center;

      & button {
        font-size: inherit;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2rem;
      }
    }
  }
}

task-view {
  display: flex;
  width: 100%;

  & > menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    visibility: hidden;
    opacity: 0;

    & menuitem {
      display: flex;
      place-items: center;

      & button {
        font-size: inherit;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5rem;
      }
    }
  }
}

task-base {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

task-base > task-node {
  margin-bottom: 2rem;
}

task-node {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* interaction */

main > menu menuitem {
  display: none;
}

main > menu.open {
  & menuitem {
    display: flex;
  }
}

task-node.dragging {
  color: var(--forest-background-accent);
}

task-node.over {
  & > span {
    padding: 1rem 0;
    transition-delay: 200ms;
    transition-property: padding;

    &.drag-above {
      border-top: 2px solid var(--forest-foreground-accent);
    }

    &.drag-below {
      border-bottom: 2px solid var(--forest-foreground-accent);
    }

    &.drag-center {
      background-color: var(--forest-background-shade);
    }
  }
}
