@import url('reset.css');
@import url('global.css');
@import url('theme.css');

html {
  font-family: Tahoma, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1.1em;
  line-height: 1em;
}

main {
  padding: 2em;
}

main menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 12px;
}

main menu li {
  list-style: none;
  margin-right: 0.5em;
}

main menu button {
  color: var(--color-text-button);
  padding: 6px;
  font-size: 2em;
}

main menu button:hover {
  color: var(--color-hover-text);
  background-color: var(--color-hover-background-button);
}

button#root-import {
  border-color: var(--color-text-button);
  border-bottom: 4px solid;
  padding-top: 20px;
  line-height: 15px;
}

button#root-export {
  border-color: var(--color-text-button);
  border-top: 4px solid;
  padding-bottom: 20px;
  line-height: 15px;
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-highlight-text);
}

::-moz-selection {
  background-color: var(--color-highlight);
  color: var(--color-highlight-text);
}

select {
  appearance: base-select;
  display: inline-block;
  outline: none;
  margin: 8px 0 0 28px;
  padding: 4px 8px;
  border: 1px solid black;
  background-color: var(--color-background-select);
  border-color: var(--color-border-select);
  color: var(--color-text);
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  &::picker(select) {
    appearance: base-select;
  }
}

select:hover {
  background-color: var(--color-hover-background-select);
  color: var(--color-hover-text);
}

select option {
  background-color: var(--color-background-select);
  color: var(--color-text);
  text-align: left;
  font-weight: normal;
  &::checkmark {
    display: none;
  }
}

select option:checked {
  font-weight: bold;
  &::checkmark {
    display: none;
  }
}

select:focus {
  background-color: var(--color-focus-select);
  /* color: var(--color-shadow); */
  font-weight: bold;
}

select option:hover {
  background: var(--color-highlight) !important;
  color: var(--color-shadow);
}

/* main task-base {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}

task-base task-node {
  margin: 20px;
} */

.fade-in {
  opacity: 1;
  animation-name: OpacityFadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.05s;
}

@keyframes OpacityFadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.04;

  50% {
    opacity: 0.25;
  }

  75% {
    opacity: 0.64;
  }

  90% {
    opacity: 0.81;
  }

  100% {
    opacity: 1;
  }
}
