@import url('theme.css');
@import url('select.css');

/* reset */

body {
  margin: 0;
  min-height: 100vh;
}

main {
  box-sizing: border-box;

  & menu {
    margin: 0;
    padding: 0;
  }
}

button {
  cursor: pointer;
}

task-base > task-node {
  & details {
    padding: 0;
  }
}

/* structure */

html {
  font-size: 0.25in;
  width: 100%;
}

body {
  width: 100%;
}

main {
  padding: 3%;
  width: 100%;

  & menu {
    display: flex;
    flex-direction: row;

    & item {
      display: flex;
      place-items: center;
    }
  }

  & > menu {
    & button {
      width: 2rem;
      height: 2rem;
    }
  }
}

task-view {
  display: flex;
  flex-direction: column;

  & > menu {
    & button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

task-base {
  display: flex;
  flex-direction: column;
}

task-base > task-node {
  margin-bottom: 1rem;
}

task-node {
  width: 100%;
}

/* styles */

html.theme-forest {
  background-color: var(--forest-background);
}
