main > menu {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 94%;
  z-index: 1;
}

main > menu item {
  display: flex;
  list-style: none;

  &:nth-child(2) {
    margin-right: 12px;
    margin-left: auto;
  }
}

main > menu button {
  color: var(--color-text-button);
  font-size: 2em;
  padding: 6px 8px;

  &:hover {
    color: var(--color-hover-text);
    background-color: var(--color-hover-background-button);
  }

  &:active {
    color: var(--color-highlight);
  }

  &#root-add {
    border-radius: 5px;
  }

  &#root-import {
    border-bottom: 4px solid;
    border-radius: 5px 5px 0 0;
    line-height: 15px;
    padding-top: 20px;
  }

  &#root-export {
    border-top: 4px solid;
    border-radius: 0 0 5px 5px;
    line-height: 15px;
    padding-bottom: 20px;
  }
}

task-view > menu {
  display: flex;
  flex-direction: row;
  place-items: center;
  height: 2rem;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 999;

  & item {
    display: flex;

    & button {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }
}

/* 
task-view > menu {
  background-color: var(--color-background-select);
  display: flex;
  flex-direction: row;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0.2rem var(--color-shadow);
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 2.2rem;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  transition: opacity 350ms ease;
  -moz-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  -webkit-transition: opacity 350ms ease;

  transition-delay: 250ms;
  transition-property: visibility, opacity;
}

task-View > menu item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & button {
    visibility: hidden;
    width: 2rem;
    height: 2rem;
    transition-delay: 250ms;
    transition-property: visibility, opacity;
  }

  & button[name='task-delete'],
  & button[name='task-edit'] {
    font-size: 1rem;
  }

  & button[name='task-focus'] {
    line-height: 0;
  }
} */
