/* shared styles for both main document and shadow elements */

/* Reset */

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  user-select: none;
}

.icon-button {
  color: var(--color-text-button);
  background-color: var(--color-background-select);
}
