summary {
  list-style-position: outside;
  margin-left: 2em;
  padding: 0.5em;
}

summary:hover {
  cursor: pointer;
}

summary.task-leaf {
  list-style: none;
}

summary.task-leaf:hover {
  cursor: auto;
}

summary::marker {
  display: inline-flex;
  color: #350200;
}

.task-name {
  font-weight: bold;
  color: #217ac0;
  font-size: 120%;
}

h4 {
  margin: 10px 0 -8px 0;
  background: #217ac0;
  color: white;
  padding: 2px 6px;
  border: 1px solid #cee9f9;
  border-radius: 4px;
}

.task-body {
  margin-left: 22px;
  font-size: 90%;
}

.hidden {
  display: none;
}
