/* reset */
button {
  cursor: pointer;
  background: none;
  border: none;
}

summary {
  cursor: pointer;
}

::slotted([title]) {
  cursor: help;
}
/* structure */

div {
  display: inline-flex;
  flex-direction: column;
  visibility: visible;
  opacity: 1;

  slot {
    margin-left: 0.3rem;
  }
}

button {
  font-size: inherit;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

details {
  display: inline-flex;
  flex-direction: column;

  summary {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '➤';
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
    }

    button {
      margin-bottom: -0.2rem;
    }

    & button:first-child {
      margin-right: 0.2rem;
    }

    & button:last-child {
      margin-left: 0.2rem;
    }
  }

  &[open] summary {
    &::before {
      transform: rotate(90deg);
    }
  }

  section {
    margin-bottom: 0.2rem;
  }
}

/* states */

div {
  & [name='task-name'] {
    &::after {
      content: '';
      display: inline-flex;
      justify-content: center;
      font-size: 1.2rem;
      padding-left: 0.3rem;
    }
  }

  &.editing {
    & [name='task-name'] {
      &::after {
        content: '' !important;
        display: none !important;
      }
    }
  }

  &.done {
    & [name='task-name']::after {
      content: '✓';
    }
  }

  &.pause {
    & [name='task-name']::after {
      content: '⏸';
    }
  }

  &.active {
    & [name='task-name']::after {
      content: '👁';
    }
  }

  &.leaf {
    summary {
      cursor: default;

      &::before {
        content: '';
      }
    }
  }
}

/* focus */

div.focus summary {
  & details {
    filter: none;
  }

  &:before {
    display: none;
  }
}

/* utility */

.hidden {
  visibility: hidden;
}

/* theme */
.theme-forest {
  summary {
    color: var(--forest-fg);
    &:hover {
      color: var(--forest-fg-accent);
    }
  }

  &.leaf.editing {
    summary {
      color: var(--forest-fg-shade);
      &:hover {
        color: var(--forest-fg-shade) !important;
      }

      button {
        color: var(--forest-bg-accent) !important;

        &:hover {
          background-color: var(--forest-bg-shade) !important;
          color: var(--forest-fg-accent) !important;
        }
      }
    }
  }
}

.theme-gruvbox {
  summary {
    color: var(--gruvbox-fg);
    &:hover {
      color: var(--gruvbox-fg-accent) !important;
    }
  }

  &.leaf.editing {
    summary {
      color: var(--gruvbox-fg-shade);
      &:hover {
        color: var(--gruvbox-fg-shade) !important;
      }
      button {
        color: var(--gruvbox-bg-accent) !important;

        &:hover {
          background-color: var(--gruvbox-bg-shade) !important;
          color: var(--gruvbox-fg-accent) !important;
        }
      }
    }
  }
}
