/* reset */
button {
  cursor: pointer;
  background: none;
  border: none;
}

summary {
  cursor: pointer;
}

::slotted([title]) {
  cursor: help;
}
/* structure */

div {
  display: inline-flex;
  flex-direction: column;
  margin-left: 1.5rem;
  visibility: visible;
  opacity: 1;

  slot {
    margin-left: 0.3rem;
  }
}

button {
  font-size: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

details {
  display: inline-flex;
  flex-direction: column;

  summary {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    &::before {
      content: '➤';
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
    }

    button {
      margin-right: 0.2rem;
    }
  }

  &[open] summary {
    &::before {
      transform: rotate(90deg);
    }
  }

  section {
    margin-bottom: 0.2rem;
  }
}

/* states */

div {
  & [name='task-name'] {
    &::after {
      content: '';
      display: inline-flex;
      justify-content: center;
      font-size: 1.2rem;
      padding-left: 0.3rem;
    }
  }

  &.editing {
    & [name='task-name'] {
      &::after {
        content: '' !important;
        display: none !important;
      }
    }
  }

  &.done {
    & [name='task-name']::after {
      content: '✓';
    }
  }

  &.pause {
    & [name='task-name']::after {
      content: '⏸';
    }
  }

  &.active {
    & [name='task-name']::after {
      content: '👁';
    }
  }

  &.leaf {
    summary {
      cursor: default;

      &::before {
        content: '';
      }
    }
  }
}

/* utility */

.hidden {
  visibility: hidden;
}
