@import url('palette.css');

html.theme-forest {
  background-color: var(--forest-bg);
  color: var(--forest-fg);
  font-family: Tahoma;

  .icon-button {
    background-color: transparent;
    color: var(--forest-bg-accent);
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    text-shadow: 0.1rem 0.2rem 0.3rem var(--color-black);
  }

  .icon-button:hover {
    color: var(--forest-fg-accent) !important;
    background-color: var(--forest-bg) !important;
    border-left: 0.1rem solid var(--forest-bg-shade) !important;
    border-right: 0.1rem solid var(--forest-bg-shade) !important;
    text-shadow: none;
  }

  task-view > menu menuitem:last-child button:hover {
    border-right: 0.1rem solid transparent !important;
  }

  task-view > menu menuitem:first-child button:hover {
    border-left: 0.1rem solid transparent !important;
  }

  task-node::part(icon-button) {
    background-color: transparent;
    color: var(--forest-bg-accent);
    text-shadow: 0.1rem 0.2rem 0.3rem var(--color-black);
  }

  task-node::part(icon-button):hover {
    color: var(--forest-fg-accent) !important;
    background-color: var(--forest-bg) !important;
    text-shadow: none;
  }

  task-view > menu {
    background-color: var(--forest-bg-shade);
    border: 0.45rem solid var(--forest-bg);
    border-left: none;
    box-shadow: inset 0.1rem 0.1rem 0.3rem var(--color-black-50);
    -webkit-box-shadow: inset 0.1rem 0.1rem 0.3rem var(--color-black-50);
  }

  select {
    background-color: transparent;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    &:hover {
      color: var(--forest-fg-accent) !important;
      background-color: var(--forest-bg) !important;
      border-left: 0.1rem solid var(--forest-bg-shade)) !important;
      border-right: 0.1rem solid var(--forest-bg-shade)) !important;
    }
    option {
      color: var(--forest-fg-shade);
      background-color: var(--forest-bg);
      &:hover {
        color: var(--forest-fg-accent) !important;
        background-color: var(--forest-bg-shade) !important;
      }
    }
  }

  task-node::part(field-input) {
    background-color: var(--forest-bg);
    color: var(--forest-fg);
  }

  task-node::part(field-input):focus {
    background-color: var(--forest-bg-shade);
    box-shadow: inset 2px 2px 5px var(--color-black);
  }

  task-view:not(.dragging) {
    task-node::part(summary):hover {
      color: var(--forest-fg-accent);
    }
  }

  task-view > dialog {
    color: var(--forest-fg);
  }

  ::selection {
    background-color: var(--forest-highlight);
    color: var(--forest-bg-shade);
  }

  main.focus {
    task-node span {
      color: var(--forest-fg-accent);
    }
  }
}

html.theme-gruvbox {
  background-color: var(--gruvbox-bg);
  color: var(--gruvbox-fg);
  font-family: Monospace;

  .icon-button {
    background-color: transparent;
    color: var(--gruvbox-bg-accent);
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    text-shadow: 0.1rem 0.2rem 0.3rem var(--color-black);
  }

  .icon-button:hover {
    color: var(--gruvbox-fg-accent) !important;
    background-color: var(--gruvbox-bg) !important;
    border-left: 0.1rem solid var(--gruvbox-bg-shade) !important;
    border-right: 0.1rem solid var(--gruvbox-bg-shade) !important;
    text-shadow: none;
  }

  task-view > menu menuitem:last-child button:hover {
    border-right: 0.1rem solid transparent !important;
  }

  task-view > menu menuitem:first-child button:hover {
    border-left: 0.1rem solid transparent !important;
  }

  task-node::part(icon-button) {
    background-color: transparent;
    color: var(--gruvbox-bg-accent);
    text-shadow: 0.1rem 0.2rem 0.3rem var(--color-black);
  }

  task-node::part(icon-button):hover {
    color: var(--gruvbox-fg-accent) !important;
    background-color: var(--gruvbox-bg) !important;
    text-shadow: none;
  }

  task-view > menu {
    background-color: var(--gruvbox-bg-shade);
    border: 0.45rem solid var(--gruvbox-bg);
    border-left: none;
    box-shadow: inset 0.1rem 0.1rem 0.3rem var(--color-black-50);
    -webkit-box-shadow: inset 0.1rem 0.1rem 0.3rem var(--color-black-50);
  }

  select {
    background-color: transparent;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    &:hover {
      color: var(--gruvbox-fg-accent) !important;
      background-color: var(--gruvbox-bg) !important;
      border-left: 0.1rem solid var(--gruvbox-bg-shade)) !important;
      border-right: 0.1rem solid var(--gruvbox-bg-shade)) !important;
    }
    option {
      color: var(--gruvbox-fg-shade);
      background-color: var(--gruvbox-bg);
      &:hover {
        color: var(--gruvbox-fg-accent) !important;
        background-color: var(--gruvbox-bg-shade) !important;
      }
    }
  }

  task-node::part(field-input) {
    background-color: var(--gruvbox-bg);
    color: var(--gruvbox-fg);
  }

  task-node::part(field-input):focus {
    background-color: var(--gruvbox-bg-shade);
    box-shadow: inset 2px 2px 5px var(--color-black);
  }

  task-view:not(.dragging) {
    task-node::part(summary):hover {
      color: var(--gruvbox-fg-accent);
    }
  }

  task-view > dialog {
    color: var(--gruvbox-fg);
  }

  ::selection {
    background-color: var(--gruvbox-highlight);
    color: var(--gruvbox-bg-shade);
  }

  main.focus {
    task-node[data-focus] > span {
      color: var(--gruvbox-fg-accent);
    }
  }
}
